:root {
  --branding-color: rgb(234, 205, 248);
  --default-font-family: "Josefin Slab", serif;
  --heading-font-family: "Vidaloka", serif;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 90px;
}

h2 {
  font-size: 40px;
  padding: 30px;
}

h3 {
  font-family: var(--heading-font-family);
  font-size: 50px;
}

p {
  font-size: 20px;
  padding: 20px 0px;
}

img {
  border-radius: 4px;
  box-shadow: 10px 10px 10px gray;
}

.col-lg-6 {
  padding: 60px 50px;
}

.featured-projects {
  font-size: 40px;
  font-weight: bold;
  padding: 35px;
}

.hero {
  text-align: center;
  background-color: var(--branding-color);
  color: rgb(0, 0, 0);
  padding: 80px 40px;
}

.btn-dark {
  padding: 12px 20px;
  font-size: 20px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
}
