:root {
  --branding-color: rgb(234, 205, 248);
  --default-font-family: "Josefin Slab", serif;
  --heading-font-family: "Vidaloka", serif;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 90px;
}

h2 {
  font-size: 40px;
  padding: 30px;
}

h3 {
  font-family: var(--heading-font-family);
  font-size: 50px;
}

p {
  font-size: 20px;
  padding: 20px 0px;
}

img {
  border-radius: 10px;
  box-shadow: 10px 10px 10px gray;
}

.col-lg-6 {
  padding: 60px 50px;
}

.featured-projects {
  font-size: 40px;
  font-weight: bold;
  padding: 35px 20px;
}

.hero {
  text-align: center;
  background-color: var(--branding-color);
  color: rgb(0, 0, 0);
  padding: 80px 30px;
}

.btn-dark {
  padding: 12px 20px;
  font-size: 20px;
}

.about-content {
  padding: 30px 45px;
  display: flex;
  justify-content: space-between;
}

.profile-image {
  max-width: 200px;
  border-radius: 35px;
  border: 10px solid var(--branding-color);
}

.about-paragraph {
  padding: 15px;
}

.profile-image-wrap {
  padding: 10px 70px 10px 50px;
}

.projects-container {
  padding: 60px 30px 30px 30px;
  text-align: center;
}

.col {
  padding: 40px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  .hero {
    padding: 40px 20px;
  }
  .featured-projects {
    padding: 15px;
  }
}
