:root {
  --branding-color: rgb(234, 205, 248);
}

body {
  font-family: "Josefin Slab", serif;
}

h1 {
  font-family: "Vidaloka", serif;
  font-size: 80px;
}

h2 {
  font-size: 35px;
  padding: 30px;
}

.hero {
  text-align: center;
  background-color: var(--branding-color);
  color: rgb(0, 0, 0);
  padding: 80px 40px;
}

.btn-dark {
  padding: 12px 20px;
  font-size: 20px;
}
